html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}
#canvas-area{
	margin:1px auto;
	width:500;
	height:400px;
}
/* Create your styles below */
